:root {
  --accent-color: #4d5ae5;
  --accent-logo-color: #4d5ae5;
  --hero-title-buttons: #ffffff;
  --brand-color: #2e2f42;
  --primary-titles-color: #2e2f42;
  --mini-titles-color: #2e2f42;
  --secondary-titles-color: #2e2f42;
  --hover-color: #404bbf;
  --background: #ffffff;
  --cards-color: #f4f4fd;
  --cloud: #f4f4fd;
  --buttons-2page: #e7e9fc;
  --primary-text-color: #434455;
}
/* списки и точки */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--primary-text-color);
  background-color: var(--background);
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.flex-box {
  display: flex;
}

.header {
  border-bottom: 1px solid #E7E9FC;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-box {
  justify-content:space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-menu {
  align-items: center;
}

.header-logo-second {
  color: var(--brand-color);
}

.menu-item {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px auto;
}

.header-address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.address-item {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.active:hover,
.active:focus {
  color: var(--hover-color);
}
/* service */
.service {
  background-color: var(--brand-color);
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/peopleoffice.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service-text {
  color: var(--hero-title-buttons);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
  }

.service-bnt {
  color: var(--hero-title-buttons);
  background-color: var(--accent-color);
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  border: 0px solid transparent;
}

.active-btn:hover,
.active-btn:active {
  color: var(--hero-title-buttons);
  background-color: var(--hover-color);
}

/* specifics */
.specifics {
  padding-bottom: 0px;
}

.specifics-list {
  gap: 24px;
}

.specifics-title {
  color: var(--mini-titles-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.specifics-item {
  flex-basis: calc((100% - 72px) / 4);
}

.specifics-icon {
  width: 264px;
  height: 112px;
  background: #F4F4FD;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specifics-text,
.text-dsc {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  max-width: 264px;
  margin-top: 8px;
}

/* what are you doing */
.primary-title {
  color: var(--primary-titles-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.doing {
  padding-bottom: 120px;
}

.doing-list{
  flex-wrap: wrap;
  gap: 24px;
}

.doing-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* team secondary-title, img  -dsc */

.team {
  background-color: var(--cloud);
}

.team-list {
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
  max-width: 264px;
}

.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 8px;
  text-align: center;
}

.team-parthner {
  color: var(--secondary-titles-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-doing {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-link:hover {
  background-color: #404BBF;
}

.customers-list{
  display: flex;
  justify-content: space-between;
}

.customers-item{
  border: 1px solid var(--border);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  fill: var(--border);
}

.customers-item:hover,
.customers-item:focus {
  fill: var(--hover-color);
  border: 1px solid var(--hover-color);
}

/* second page */

.second-nav {
  color: var(--accent-color);
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 0px solid transparent;
  padding: 12px 24px;
}

.second-nav:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.secondary-title-cards {
  color: var(--secondary-titles-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* cards */
.text-dsc {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* footer */

.footer {
  background-color: var(--brand-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container{
  margin-right: 120px;
}

.footer-text {
  color: var(--buttons-2page);
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
  height: 72px;
  margin-top: 16px;
  max-width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-logo-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-logo-second {
  color: var(--cloud);
}

.footer-social-text{
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-social-list{
  display: flex;
  gap: 16px;
}

.footer-social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
}

.footer-social-box:hover,
.footer-social-box:focus {
  background-color: #31D0AA;
  padding: 8px;
}

.services-list {
  flex-wrap: wrap;
  gap: 48px 24px;
}

.services-list-item {
  flex-basis: calc((100% - 48px ) / 3);
  border: 1px solid #E7E9FC;
}

.services-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
}

.btn-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.button-for-nav {
  padding-top: 96px;
  padding-bottom: 120px;
}